In [1]:
import pandas as pd

In [2]:
stock_df=pd.read_excel('주가데이터.xlsx')

In [3]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연월일     20 non-null     datetime64[ns]
 1   당일종가    20 non-null     int64
 2   전일종가    20 non-null     int64
 3   시가      20 non-null     int64
 4   고가      20 non-null     int64
 5   저가      20 non-null     int64
 6   거래량     20 non-null     int64
dtypes: datetime64[ns](1), int64(6)
memory usage: 1.2 KB

In [4]:
stock_df

          연월일   당일종가  전일종가     시가     고가     저가     거래량
0  2018-07-02  10100   600  10850  10900  10000  137977
1  2018-06-29  10700   300  10550  10900   9990  170253
2  2018-06-28  10400   500  10900  10950  10150  155769
3  2018-06-27  10900   100  10800  11050  10500  133548
4  2018-06-26  10800   350  10900  11000  10700   63039
5  2018-06-25  11150   150  11400  11450  11000   55519
6  2018-06-22  11300   100  11250  11450  10750  134805
7  2018-06-21  11200   350  11350  11750  11200  133002
8  2018-06-20  11550   250  11200  11600  10900  308596
9  2018-06-19  11300   700  11850  11950  11300  180656
10 2018-06-18  12000  1400  13400  13400  12000  309787
11 2018-06-15  13400    50  13600  13600  12900  201376
12 2018-06-14  13450   250  13200  13700  13150  347451
13 2018-06-12  13200  1250  12200  13300  12050  558148
14 2018-06-11  11950     0  12000  12250  11950   62293
15 2018-06-08  11950     0  11950  12200  11800   59258
16 2018-06-07  11950   200  12200  12300  11900   49088
17 2018-06-05  12150   250  11800  12250  11800   42485
18 2018-06-04  11900     0  11900  12200  11700   25171
19 2018-06-01  11900   100  11800  12100  11750   32062