In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt
import os
from sklearn.cluster import KMeans

In [6]:
import platform
platform.platform()

pwd = os.getcwd()
pwd

'/Users/songsiho/Desktop/4/data_science/project/project/dataset'

In [70]:
matplotlib.rcParams['font.family']='AppleGothic'

In [71]:
total_sales_df=pd.read_csv('/Users/songsiho/Desktop/4/data_science/project/project/dataset/total_sales.csv',encoding='cp949')

In [72]:
total_sales_df=total_sales_df.loc[0:35]

In [73]:
total_sales_df.set_index('계정항목별',inplace=True)

In [74]:
total_sales_df.head()

,금융기관 유형코드별,2020.02,2020.03,2020.04,2020.05,2020.06,2020.07,2020.08,2020.09,2020.10,...,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11,2022.12,2023.01,2023.02
계정항목별,,,,,,,,,,,,,,,,,,,,,
전체 이용건수 (천건),합계,1103517,1124803,1129783,1226171,1240145,1254766,1243776,1188972,1221568,...,1500236,1443682,1486379,1518932,1426030,1506483,1455878,1450646,1391410,1321301
전체 이용건수 (천건),은행계,715030,729919,733955,796934,808651,815257,803354,769364,788232,...,946066,909641,932080,957206,897733,944192,916559,909106,872798,829915
전체 이용건수 (천건),비은행계,388487,394884,395828,429237,431494,439509,440422,419608,433336,...,554170,534041,554300,561726,528297,562292,539319,541540,518612,491386
개인 이용건수 (천건),합계,1017502,1040816,1043333,1139001,1147299,1153958,1152809,1096561,1129801,...,1390201,1334610,1373501,1411083,1321027,1397117,1345037,1339386,1293863,1221100
개인 이용건수 (천건),은행계,637529,653511,655435,717706,724429,723820,720411,685234,704833,...,847255,811745,831096,860514,803939,846405,817824,809984,785832,741195

In [75]:
total_sales_df_total=total_sales_df[total_sales_df['금융기관 유형코드별']=='합계']
total_sales_df_bank=total_sales_df[total_sales_df['금융기관 유형코드별']=='은행계']
total_sales_df_nobank=total_sales_df[total_sales_df['금융기관 유형코드별']=='비은행계']

In [76]:
total_sales_df_total.drop('금융기관 유형코드별',axis=1,inplace=True) #금융기관 유형코드별 == 합계
total_sales_df_bank.drop('금융기관 유형코드별',axis=1,inplace=True) #금융기관 유형코드별 == 은행계
total_sales_df_nobank.drop('금융기관 유형코드별',axis=1,inplace=True) #금융기관 유형코드별 == 비은행계

/var/folders/y1/08kzpz3x6_n3fkyg8spwflyc0000gn/T/ipykernel_24150/3151092598.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_sales_df_total.drop('금융기관 유형코드별',axis=1,inplace=True) #금융기관 유형코드별 == 합계
/var/folders/y1/08kzpz3x6_n3fkyg8spwflyc0000gn/T/ipykernel_24150/3151092598.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_sales_df_bank.drop('금융기관 유형코드별',axis=1,inplace=True) #금융기관 유형코드별 == 은행계
/var/folders/y1/08kzpz3x6_n3fkyg8spwflyc0000gn/T/ipykernel_24150/3151092598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_sales_df_nobank.drop('금융기관 유형코드별',axis=1,inplace=True) #금융기관 유형코드별 == 비은행계

In [81]:
total_sales_df_total.head()

,2020.02,2020.03,2020.04,2020.05,2020.06,2020.07,2020.08,2020.09,2020.10,2020.11,...,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11,2022.12,2023.01,2023.02
계정항목별,,,,,,,,,,,,,,,,,,,,,
전체 이용건수 (천건),1103517,1124803,1129783,1226171,1240145,1254766,1243776,1188972,1221568,1222007,...,1500236,1443682,1486379,1518932,1426030,1506483,1455878,1450646,1391410,1321301
개인 이용건수 (천건),1017502,1040816,1043333,1139001,1147299,1153958,1152809,1096561,1129801,1127343,...,1390201,1334610,1373501,1411083,1321027,1397117,1345037,1339386,1293863,1221100
개인 일반구매 이용건수 (천건),981542,1002266,1006283,1101262,1109106,1114504,1114578,1056265,1089019,1085930,...,1343174,1290455,1328767,1365658,1275931,1349002,1297870,1292104,1248652,1180583
개인 할부구매 이용건수 (천건),30056,32621,31848,32302,32863,34080,32952,35276,35596,36293,...,41982,39434,39956,40450,40219,42965,42086,42169,40345,35876
개인 현금서비스 이용건수 (천건),5903,5929,5202,5437,5329,5374,5279,5020,5185,5121,...,5045,4721,4779,4976,4878,5149,5081,5114,4866,4641

In [78]:
total_sales_df_bank.head()

,2020.02,2020.03,2020.04,2020.05,2020.06,2020.07,2020.08,2020.09,2020.10,2020.11,...,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11,2022.12,2023.01,2023.02
계정항목별,,,,,,,,,,,,,,,,,,,,,
전체 이용건수 (천건),715030,729919,733955,796934,808651,815257,803354,769364,788232,789648,...,946066,909641,932080,957206,897733,944192,916559,909106,872798,829915
개인 이용건수 (천건),637529,653511,655435,717706,724429,723820,720411,685234,704833,703758,...,847255,811745,831096,860514,803939,846405,817824,809984,785832,741195
개인 일반구매 이용건수 (천건),616181,630677,633754,695844,702562,701301,698739,662215,681537,680380,...,821688,787810,806903,835821,779254,820456,792142,783602,760994,718895
개인 할부구매 이용건수 (천건),17394,18851,18209,18231,18295,18927,18161,19671,19842,19979,...,22254,20842,21092,21414,21476,22558,22314,23012,21605,19234
개인 현금서비스 이용건수 (천건),3953,3983,3473,3630,3572,3593,3511,3348,3454,3399,...,3313,3093,3101,3278,3209,3390,3368,3370,3233,3067

In [79]:
total_sales_df_nobank.head()

,2020.02,2020.03,2020.04,2020.05,2020.06,2020.07,2020.08,2020.09,2020.10,2020.11,...,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11,2022.12,2023.01,2023.02
계정항목별,,,,,,,,,,,,,,,,,,,,,
전체 이용건수 (천건),388487,394884,395828,429237,431494,439509,440422,419608,433336,432359,...,554170,534041,554300,561726,528297,562292,539319,541540,518612,491386
개인 이용건수 (천건),379973,387305,387898,421295,422869,430138,432397,411327,424968,423585,...,542946,522864,542405,550570,517088,550712,527213,529402,508031,479905
개인 일반구매 이용건수 (천건),365361,371590,372529,405417,406544,413203,415839,394050,407482,405549,...,521485,502645,521863,529836,496676,528546,505727,508502,487658,461688
개인 할부구매 이용건수 (천건),12662,13770,13640,14071,14568,15154,14791,15605,15755,16314,...,19728,18593,18864,19036,18743,20407,19773,19157,18740,16642
개인 현금서비스 이용건수 (천건),1950,1946,1729,1807,1757,1781,1768,1672,1731,1722,...,1732,1627,1677,1697,1669,1759,1713,1744,1633,1574